#container {
    background-color: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    height: 960px;
    font-size: 18px;
    text-align: center;
}
#middle, header, nav, footer{
    background-color: #ebebeb;
    color: #777;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
header {
    border-top: #777 15px solid;
    
}
div {
    top: 50%;
}
h1, p {
    background-color: #ebebeb;
    color: #777;
    width: 340px;
    height: 35px;
    margin-left: 15px;
}
h1 {
    margin-top: 30px;
}
p {
    margin-top: 10px;
}
article {
    color: #ebebeb;
    background-color: #777;
    width: 370px;
    height: 145px;
    margin-left: 15px;
    margin-top: 60px;
}
header, nav, footer {
    width: 760px;
    height: 80px;
}
#middle {
    height: 240px;
    width: 760px;
    background-color:#777;
    margin-left: 100px;
}
section, aside {
    height: 240px;
    background-color: #ebebeb;
    color: #777;
}
section {
    width: 400px;
    float: left;
}
aside {
    width: 345px;
    margin-left: 10px;
    float: right;
}
footer {
    clear: both;
}

